:root {
  font-family: 'Open Sans', 'Helvetica';
}

.header {
  display: flex;
  flex-direction: row;
  float: left;
  top: 0;
  margin: 1%;
}

li {
  display: inline-block;
  list-style-type: none;
}
